<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Data Siswa</title>
    </head>
    <body>
        <h1>Data Siswa</h1>
        <!-- Form Input -->
        <form action="/add" method="POST">
            <!-- input nama -->
            <div>
                <label for="nama">Nama Lengkap</label>
                <input type="text" name="nama" id="nama">
            </div>
            <!-- input kota -->
            <div>
                <div class="selectBar" name="kotaBar" id="kotaBar">
                    <div class="selectInput">
                        <label for="kota">Kota/Kabupaten</label>
                        <input type="text" name="kota" id="kota" class="inputBar">
                        <button class="btn selectBtn" type="button">V</button>
                    </div>
                    <div class="selectOption dropdownMenu" style="display: none;">
                        <% if (kotaData.length !== 0) { %>
                            <% kotaData.forEach(function(data, index) { %>
                                <% const arr = Object.keys(data).map((key) => [data[key]]) %>
                                <ul class="selectOption-menu"><%= arr[1] %></ul>
                            <% }); %>
                        <% } %>
                    </div>
                </div>
            </div>
            <!-- input kecamatan -->
            <div>
                <div class="selectBar triggered" name="kecBar" id="kecBar">
                    <div class="selectInput">
                        <label for="kec">Kecamatan</label>
                        <input type="text" name="kec" id="kec" class="inputBar kotaTrigger" disabled>
                        <button class="btn selectBtn" type="button" disabled>V</button>
                    </div>
                    <div class="selectOption dropdownMenu" style="display: none;">
                    </div>
                </div>
            </div>
            <!-- input alamat -->
            <div>
                <label for="alamat">Alamat</label>
                <textarea name="alamat" id="alamat" cols="30" rows="10"></textarea>
            </div>
            <!-- submit form -->
            <div>
                <button type="submit" value="accept">Tambahkan Data Siswa</button>
            </div>
        </form>
        <table>
            <tr>
                <th>ID Siswa</th>
                <th>Nama Siswa</th>
                <th>Kota/Kabupaten</th>
                <th>Kecamatan</th>
                <th>Alamat</th>
                <th colspan="2">Lainnya</th>
            </tr>
            <% if (userData.length !== 0) { %>
                <% userData.forEach(function(data, index) { %>
                    <tr>
                        <td><%= data.idSiswa %></td>
                        <td> <a href="/<%= data.idSiswa %>"><%= data.nama %></a></td>
                        <td><%= data.namaKota %></td>
                        <td><%= data.namaKec %></td>
                        <td><%= data.alamat %></td>
                        <td><a href="/<%= data.idSiswa %>">Ubah</a></td>
                        <td><a href="/delete<%= data.idSiswa %>">Delete</a></td>
                    </tr>
                <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
        </table><div class="hiddenData">
            <!-- Kota -->
            <table>
                <% if (kotaData.length !== 0) { %>
                    <% kotaData.forEach(function(data, index) { %>
                        <tr>
                            <% const arr = Object.keys(data).map((key) => [data[key]]) %>
                            <% arr.forEach(child => { %>
                                <td><%= child %></td>
                            <% }); %>
                        </tr>
                    <% }); %>
                <% } %>
            </table>
            <!-- Kecamatan -->
            <table>
                <% if (kecData.length !== 0) { %>
                    <% kecData.forEach(function(data, index) { %>
                        <tr>
                            <% const arr = Object.keys(data).map((key) => [data[key]]) %>
                            <% arr.forEach(child => { %>
                                <td><%= child %></td>
                            <% }); %>
                        </tr>
                    <% }); %>
                <% } %>
            </table>
            
        </div>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>